</div>
<!-- CLOSE all html-elements (+wrapper) before this line -->

<!-- Code for Google Analytics | Change UA-XXXXX-X to be your site's ID -->
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!-- Code for PIWIK Website Analytics | Please setup for your own and change URL -->
<script>
  var _paq = _paq || [];
(function(){
    var u=(("https:" == document.location.protocol) ? "https://www.domain.com/piwik" : "http://www.domain.com/piwik");
    _paq.push(['setSiteId','ID']); // set 'ID' to your Piwik's site ID. e.g: '1'
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['trackPageView']);
    var d=document,
        g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
        g.type='text/javascript';
        g.defer=true;
        g.async=true;
        g.src=u+'piwik.js';
        s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="http://www.url.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>

<script>
yepnope([{
	
}, {
  load: '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js',
  complete: function () {
    if (!window.jQuery) {
      yepnope('[[++base_url]]assets/templates/site/js/libs/jquery-1.5.1.min.js');
    }
  }
}, {
  load: '"[[++base_url]]assets/templates/site/js/plugins.js',
  complete: function () {
    jQuery(function () {
      jQuery('div').plugin();
    });
  }
}]);
</script>

<!--[if lt IE 7 ]>
	<script>yepnope('[[++base_url]]assets/templates/site/js/libs/dd_belatedpng.js');</script>
	<script> DD_belatedPNG.fix('img, .png_bg'); </script>
<![endif]-->

<!-- Code for Facebook XBML implementation. Cut off if not needed. Please paste your own App-ID at 'AppID' to get it working -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: 'AppID', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

</body>
</html>​