</div>
<!-- CLOSE all html-elements (+wrapper) before this line -->

<script>
yepnope([{
	load: '//code.jquery.com/jquery-1.6.1.min.js',
	complete: function () {
		if (!window.jQuery) {
			yepnope('[[++base_url]]assets/templates/main/js/libs/jquery-1.6.1.min.js');
		}
	}
}, {
	load: ['[[++base_url]]assets/templates/main/js/plugins.js', '[[++base_url]]assets/templates/main/js/scripts.js'  ]
}]);
</script>

<!--[if lt IE 7 ]>
	<script>yepnope('[[++base_url]]assets/templates/main/js/libs/dd_belatedpng.js');</script>
	<script> DD_belatedPNG.fix('img, .png_bg'); </script>
<![endif]-->

<!-- Code for Facebook XBML implementation. Cut off if not needed. Please paste your own App-ID at 'AppID' in plugins.js to get it working -->
<div id="fb-root"></div>

</body>
</html>​